@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Base Styles */
@layer base {
  body {
    @apply bg-slate-950 text-slate-100; /* Dark mode mặc định */
  }
}

@layer utilities {
  /* Giữ nguyên độ sắc nét cho Pixel Art */
  .pixelated {
    image-rendering: pixelated;
  }
  
  /* Hiệu ứng Text Shadow nhẹ giúp chữ nổi bật trên nền màu */
  .text-shadow-sm {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  }
}